{% extends "base.html" %}
{% block htmltitle %}
  <title>LearnCpp 中文翻译站点</title>
{% endblock %}

{% block announce %}
翻译进行中，每周一章，本周更新第二章
{% endblock %}


{% block content %}
{% include "partials/content.html" %}
{% endblock %}

{% block extrahead %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script>
                $(document).ready(function() {
                    $('.link-tooltip').tooltipster();
                });
        </script>
{% endblock %}