{% if page.edit_url %}
  <a href="{{ page.edit_url }}" title="{{ lang.t('edit.link.title') }}" class="md-content__button md-icon">
    {% include ".icons/material/pencil.svg" %}
  </a>
{% endif %}
{% if "tags" in config.plugins %}
  {% include "partials/tags.html" %}
{% endif %}
{% if page.meta.type == "translation"  %}
  <!-- <div style="background: #efefef;">
    <div >
        <a target="_blank" href="https://www.learncpp.com/cpp-tutorial/{{page.meta.origin}}">原文链接: {{page.meta.origin_title}}</a>
    </div>
    <div >
        <a target="_blank" href="https://www.learncpp.com/author/Alex/">作者: ALEX</a>
    </div>
    <div >
        <a target="_blank" href="https://www.learncpp.com/cpp-tutorial/{{page.meta.origin}}">更新时间: {{page.meta.time}}</a>
    </div>
  </div> -->
  <div class="tooltip" style="float: right;    background: var(--md-default-fg-color--lightest);border-radius: 0.4rem;">
    <a target="_blank" href="https://www.learncpp.com/cpp-tutorial/{{page.meta.origin}}">English<span class="tooltiptext">Tooltip text</span></a>
</div>
  {% endif %}
{% if not "\x3ch1" in page.content %}
  <h1>{{ page.meta.alias | d(config.site_name, true)}}</h1>
  
{% endif %}
{{ page.content }}
{% if page and page.meta and (
  page.meta.git_revision_date_localized or
  page.meta.revision_date
) %}
  {% include "partials/source-file.html" %}
{% endif %}