
.origin-link{
    float: right;    
    background: var(--md-default-fg-color--lightest);
    border-radius: 0.4rem;
}

.md-grid {
    max-width: 1960px; 
  }


.md-typeset a{
    font-weight: bold;
}


.md-typeset h2 {
    font-size: 1.5625em;
    line-height: 1.4;
    /* border-bottom: 1px solid var(--md-primary-fg-color); */
    font-weight: 400;
}

.md-typeset h2::before {
    content:"🔰 " ;
}

.md-typeset h1 {
    color: var(--md-default-fg-color);
    font-size: 2em;
    line-height: 1.3;
    margin: 0 0 1.25em;
}